<div class="row">
    <div class="col-6">
        <app-dona
        [title]="grafico1.title"
        [labels]="grafico1.labels"
        [data]="grafico1.data"
        [backgroundColor]="grafico1.backgroundColor"
        [borderColor]="grafico1.borderColor"
        [hoverBackgroundColor]="grafico1.hoverBackgroundColor"
        [spacing]="grafico1.spacing"></app-dona>
    </div>
    <div class="col-6">
        <app-dona
        [title]="grafico2.title"
        [labels]="grafico2.labels"
        [data]="grafico2.data"
        [backgroundColor]="grafico2.backgroundColor"
        [borderColor]="grafico2.borderColor"
        [hoverBackgroundColor]="grafico2.hoverBackgroundColor"
        [spacing]="grafico2.spacing"></app-dona>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-dona
        [title]="grafico3.title"
        [labels]="grafico3.labels"
        [data]="grafico3.data"
        [borderColor]="grafico3.borderColor"
        [spacing]="grafico3.spacing"></app-dona>
    </div>
    <div class="col-6">
        <app-dona
        [title]="grafico4.title"
        [labels]="grafico4.labels"
        [data]="grafico4.data"
        
        [borderColor]="grafico4.borderColor"
        [spacing]="grafico4.spacing"></app-dona>
    </div>
</div>